
  <!--para enviar valores por link-->
  <!--<a class="nav-item nav-link" [routerLink]="['/Galeria','Hombre','Outfit']">Inicio</a>-->
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/">Inicio</a>
      </li>
      <li class="nav-item ">
        <a class="nav-item nav-link" routerLink="/tienda">Tienda</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/vender">Vender</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/register" *ngIf="!authService.logIn()" >Crear cuenta</a>
      </li>
    </ul>
