<section  data-aos="fade-zoom-in"
data-aos-easing="ease-in-back"
data-aos-delay="10"
data-aos-offset="0">
  <div class="container-flud" >
    <div class="d-flex justify-content-center">
      <div class="row">
        <div class="col-md-5" >
          <span> <img  src="../../assets/imagen/denniss.jpg" alt="Denniss"></span>
        </div>
        <div class="col-md-5" >
          <span> <img  src="../../assets/imagen/alan.jpg" alt="Alan"></span>
        </div>
      </div>
    </div>

  </div>
</section>
